<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-img hide-panel-body">
            <img src=" ">
          </div>

          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-2">
                <%= image_tag(current_user.photo.url(:thumb)) %>
              </div>
              <div class="col-sm-10">
                <a href="/<%=  current_user.username %>" style="text-decoration: none;">
                  <h4 style="text-align: center; color: #77878B;"><%= current_user.username %> </h4>
                </a>
              </div>
            </div>
          </div>

          <div class="panel-body">
          </div>
        </div>
    </div>
<!-- container for the blog post -->
    <div class="col-xs-6">
      <%= render '/components/postForm' %> <br> <br>
      <% for @p in @posts %>
        <div class="panel panel-default post-panel">
          <div class="panel-body row">
            <div class="col-sm-1">
            <%= image_tag(User.find(@p.user_id).photo.url(:thumb)) %>
            </div>

            <div class="col-sm-11">
              <p class="post-title">
              <a href="/<%=  User.find(@p.user_id).username %>" style="text-decoration: none;">
                <span class="post-owner" style="color: #3E4C5E;"> <%= User.find(@p.user_id).username %></span>
              </a>
              <span class="post-creation"> - <%= @p.created_at.strftime('%I:%M') %></span>
              <p class="post-content" style="color: #3E4C5E;"> <%= @p.content %> </p>
              <!-- for the comments -->
            </div>


          </div>
      </div>
      <% end %>
<!-- end of container -->
</div>
</div>
<!-- footer -->
 <div class="col-sm-12">
    <p class="footer">
      About Blog Jobs Media Developer  &copy;WWMD
    </p>
    </div>
<!-- end of footer -->





