<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <%= render '/components/postForm' %>
     <% for @p in @posts %>
    <div class="panel panel-default post-panel">
          <div class="panel-body row">
            <div class="col-sm-1">
            <%= image_tag(current_user.photo.url(:thumb)) %>
            </div>

            <div class="col-sm-11">
              <p class="post-title">
                <span class="post-owner" style="color: #3E4C5E;"> <%= User.find(@p.user_id).username %></span>
                <span class="post-creation" style="color: #3E4C5E;"> - <%= @p.created_at.strftime('%I:%M') %></span>
              <p class="post-content" style="color: #3E4C5E;"> <%= @p.content %> </p>
            </div>

          </div>
      </div>
          <% end %>
  </div>

<!-- closing div for class row -->
</div>
